/*
.sidebar-selection-extension.selectionExtension-visible:after {
    position: relative;
    content: '';
    display: block;
    border-left: 11px solid #2d2e30;
    border-right: 0px;
    border-top: 11px solid transparent;
    border-bottom: 12px solid transparent;
    margin-left: 8px;
    margin-top: -1px;
}
.sidebar-selection-extension, .filetree-selection-extension {
    background: #2d2e30;
    width: 8px;
    z-index: 1000;
    margin-left: 8px;
}
*/
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background: #f1f1f1;
}
::-webkit-scrollbar-track-piece {
    background-color: transparent;
}
::-webkit-scrollbar-thumb:vertical {
    width: 4px;
    height: 10px;
    box-shadow: 0 0 0 1px #a8a8a8 inset;
    background: #bcbcbc;
}
/*::-webkit-scrollbar-button:vertical {
    height: 20px;
    background: #505050;
}*/
::-webkit-scrollbar-button:vertical:decrement {
    background-image: url(http://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Caret_up_font_awesome.svg/512px-Caret_up_font_awesome.svg.png);
    background-size: 100% 100%;
    background-repeat:no-repeat;
    opacity: 0.6;
}
::-webkit-scrollbar-button:vertical:increment {
    background-image: url(http://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Caret_down_font_awesome.svg/512px-Caret_down_font_awesome.svg.png);
    background-size: 100% 100%;
    background-repeat:no-repeat;
    opacity: 0.6;
}
::-webkit-scrollbar-corner {
    background: none;
}
.CodeMirror-activeline{
    background-color: #fefed5;
}
/*.CodeMirror:not(.cm-s-default) .CodeMirror-activeline-background {*/
.CodeMirror-activeline-background {
    outline: 1px solid rgba(92, 68, 68, 0.08);
}
.CodeMirror-activeline-background.CodeMirror-linebackground{}
.CodeMirror-activeline .CodeMirror-gutter-wrapper{
    background: #e4e4e4 !important;
    outline: 1px solid #e4e4e4;
}
.CodeMirror-activeline .CodeMirror-gutter-wrapper .CodeMirror-linenumber{
    color: black !important;
}
div.CodeMirror-cursors .CodeMirror-cursor {
    border-left: 1px solid #7c1484;
}
.CodeMirror-foldgutter{
    width: 12px;
}
span.CodeMirror-selectedtext {
    background: none;
}
span.cm-qualifier {
    color: #445588 !important;
}
.CodeMirror{
    font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier;
}
.CodeMirror-code {
    margin-left: -1px;
    font-size: 14px;
    line-height: 1.20857143;
}
.CodeMirror-focused .cm-matchhighlight {
    /*background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFklEQVQI12NgYGBgkKzc8x9CMDAwAAAmhwSbidEoSQAAAABJRU5ErkJggg==);
    background-position: bottom;
    background-repeat: repeat-x;*/
    box-shadow: 0 0 0 1px #999999;
    border: none;
}
span.cm-m-css.cm-keyword {
    color: #c616d4 !important;
}
span.cm-property {
    color: #333 !important;
    font-weight: bold;
}
span.cm-atom {
    color: #009999 !important;
}
span.cm-m-css.cm-tag {
    color: #c39a10 !important;
}
span.cm-comment {
    color: #999988 !important;
    font-style: italic;
}
span.cm-string {
    /*color: #606aa1;*/
    color: #cc7087 !important;
}
span.cm-m-css.cm-number {
    color: #0eb91b !important;
}
span.CodeMirror-matchingbracket {
    color: #4f0852 !important;
    background-color: transparent !important;
    border-bottom: 1px solid;
    font-weight: bold;
}
.CodeMirror-selected {
    background-color: #afc4da !important;
}
span.CodeMirror-selectedtext {
    /*border: 1px solid #000000;*/
    /*box-shadow: 0 0 0 1px black inset;*/
    background: #afc4da;
}
.CodeMirror-searching {
    background-color: transparent;
    /*border: 1px solid #999999;*/
    box-shadow: 0 0 0 1px #999999;
}
.cm-trailingspace {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAACCAYAAAB/qH1jAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUXCToH00Y1UgAAACFJREFUCNdjPMDBUc/AwNDAAAFMTAwMDA0OP34wQgX/AQBYgwYEx4f9lQAAAABJRU5ErkJggg==);
    background-position: bottom left;
    background-repeat: repeat-x;
}
.cm-tab {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAMCAYAAAAkuj5RAAAAAXNSR0IArs4c6QAAAGFJREFUSMft1LsRQFAQheHPowAKoACx3IgEKtaEHujDjORSgWTH/ZOdnZOcM/sgk/kFFWY0qV8foQwS4MKBCS3qR6ixBJvElOobYAtivseIE120FaowJPN75GMu8j/LfMwNjh4HUpwg4LUAAAAASUVORK5CYII=);
    background-position: right;
    background-repeat: no-repeat;
}
.CodeMirror-lines{
    margin-left: 0px;
}
.ruler1 { border-left: 1px solid #fcc; }
.ruler2 { border-left: 1px solid #C8C80F; }
.ruler3 { border-left: 1px solid #cfc; }
.ruler4 { border-left: 1px solid #aff; }
.ruler5 { border-left: 1px solid #ccf; }
.ruler6 { border-left: 1px solid #fcf; }
span.cm-m-javascript.cm-property {
    color: #445588 !important;
    font-weight: 200;
}
span.cm-m-javascript.cm-string {
    color: #dd1144 !important;
}
span.cm-keyword {
    color: #222222 !important;
}
span.cm-variable {
    color: #06b5b5 !important;
}
span.cm-number {
    color: #95072a !important;
}
span.cm-operator {
    color: #000 !important;
}
span.cm-def {
    color: #f414e2 !important;
}
.cm-m-javascript.cm-string.cm-property {
    color: #1f00ff !important;
}
.cm-m-javascript.cm-atom {
    color: #7f74cc !important;
}
span.cm-m-xml {
    color: #555555 !important;
}
.cm-m-xml.cm-meta{
    color: #000 !important;
}
.cm-m-xml.cm-attribute{
    color: #458 !important;
}
.cm-tag{
    color: #af5514 !important;
}
.cm-m-xml.cm-tag.cm-bracket{
    color: #af5514 !important;
}
.cm-m-xml.cm-string{
    color: #D14 !important;
}
.cm-m-xml.cm-tag{
    color: #008080 !important;
}
.cm-m-xml.cm-comment{
    color: #999988 !important;
    font-style: italic;
}
.quick-view-highlight {
    background-color: rgba(200, 200, 150, 0.4);
}
.CodeMirror .highlight {
    background: #ecc;
}
/*.cm-matchhighlight{
    background: pink;
}*/
/*.CodeMirror:not(.cm-s-default) .CodeMirror-matchingtag {
    background: rgb(9, 87, 16);
}*/
/*span.cm-m-xml.cm-tag.cm-cm-overlay.cm-matchhighlight.CodeMirror-matchingtag {*/
.cm-matchhighlight.cm-tag.CodeMirror-matchingtag {
    background: #afc4da;
    color: #333 !important;
    /*box-shadow: 0 0 0 1px black inset;*/
}
.CodeMirror-matchingtag {
    background: transparent;
}





span.cm-variable-2{
    
}
span.cm-variable-3{
    
}
.cm-string-2{
    
}
.cm-builtin{
    
}
.cm-header{
    
}
.cm-hr{
    
}
.cm-link{
    
}
.cm-error{
    
}
.ico-cssColorPreview {
    border: solid 0px rgba(0,0,0,0);
    height: 12px;
    width: 12px;
    margin-top: -3.513px;
}

.CodeMirror-widget .CodeMirror-foldmarker {
    border: 0px solid rgba(0,0,0,0);
    color: #000;
    background-color: #B8821E;
    font-size: 0.004em;
}
.CodeMirror-widget .CodeMirror-foldmarker:after {
    /* position: relative; */
    /* display: inline-block; */
    content: '\00a8';
    font-size: 250em;
    font-weight: 200;
    color: #e87b00;
}
.CodeMirror-foldgutter-folded:after {
    content: "\203A";
    font-size: 1.4em;
    color: #e87b00 !important;
}
.CodeMirror-foldgutter-open {
    transform: rotate(90deg);
    margin-left: -4px;
    margin-top: 3px;
}
.CodeMirror-foldgutter-open:after {
    content: "\203A";
    font-size: 1.4em;
    font-weight: 200;
    color: #b7b1b1 !important;
}
